  .head, .head tr, .cont, .cont tr {
    border-collapse:collapse;
    border:1px solid black;
  }
  .maxwidth{
    max-width:250px;
    max-height: 2.2em;
    white-space: pre;
    overflow:hidden;
  }
  .active td{
    background-color: lightsalmon;
  }
  .resolved td{
    background-color: lightgreen;
  }
  .centered td{
  text-align:center;
  font-weight:bold;
  }
  .undelineactive td{
    border-bottom: 3px solid lightsalmon !important;
  }
  .undelineresolved td{
    border-bottom: 3px solid lightgreen !important;
  }
  .regs {
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-family: sans;
    white-space: nowrap;
    font-size:small;
  }
  .head div {
    padding-left: 6px;
    padding-right: 6px;
    font-family: sans;
  }
  .cont td {
    padding-left: 3px;
    padding-right: 3px;
    font-family: sans;
    font-size:small;
    vertical-align:top;
  }
  .float{
    position:absolute;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color:white;
  }
  .float td{
    background-color: white;
  }
  .bold {
    font-weight: bold;
  }
  .cmore{
    cursor: zoom-in;
  }
  .cless{
    cursor: zoom-out;
  }
